* {
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
}
nav {
    height: 74px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%; /* --- за допомогою цього ми можемо під subhesder підсунути головний екранб лише для htader треба ввести  */
    height: 84px;
    background-color: rgba(0,0,0, .6)
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%; /* для того щоб якщо в майбутньому лого зміниться то воно поміщалося у ций розмір тобто 4 колонки */
    margin-top: 17px;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 17px;
    width: 172px;
    height: 46px;
    left: 1370px;
    top: 88px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -3px 0px 3px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo {
    min-height: 800px;
    background: url(../img/bacground1.jpg) center center/cover no-repeat;
    padding: 150px 0 150px 0;
}

.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -4px 0px 3px rgba(0, 0, 0, 0.12);
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.label {
    display: block;
    margin: auto;
    margin-top: 83px;
    width: 115px;
    height: 27px;
    padding: 6px 12px;
    left: 479px;
    background: #000000;
    font-size: 11px;
    font-weight: 400;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    margin-top: 32px;
    top: 59px;
    font-weight: 700px;
    font-size: 38px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reason .reason_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reason .reason_block .reason_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background: #1EACC7;
    border-radius: 100%;
}

.reason .reason_block .reason_descr {
    width: 371px;
}

.reason .reason_block .reason_descr .reason_subtitle {
    font-weight: 300px;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reason .reason_block .reason_descr .reason_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}
